<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net xmlns="urn:log4net" debug="false">
    <appender name="TraceConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - Description：%message%newline"/>
      </layout>
    </appender>
    <appender name="ExceptionConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ALL"/>
        <foreColor value="Red,HighIntensity"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - Description：%message%newline"/>
      </layout>
    </appender>
    <appender name="TraceFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\Trace"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <param name="StaticLogFileName" value="false"/>
      <datePattern value="yyyyMMdd'.log'"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="100MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value=""/>
        <footer value=""/>
        <conversionPattern value="%date - Description: %message%newline"/>
      </layout>
    </appender>
    <appender name="ExceptionFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\Exception"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <param name="StaticLogFileName" value="false"/>
      <datePattern value="yyyyMMdd'.log'"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="100MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value=""/>
        <footer value=""/>
        <conversionPattern value="%date - Description: %message%newline"/>
      </layout>
    </appender>
    <logger name="TraceLogger">
      <level value="ALL"/>
      <appender-ref ref="TraceFileAppender"/>
      <appender-ref ref="TraceConsoleAppender"/>
    </logger>
    <logger name="ExceptionLogger">
      <level value="ALL"/>
      <appender-ref ref="ExceptionFileAppender"/>
      <appender-ref ref="ExceptionConsoleAppender"/>
    </logger>
    <root>
    </root>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
